<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Féliciations, ton projet "<%= @project.title %>" a été validé et publié !</h1>
    <p>Il est désormais ouvert aux inscriptions, il n'est plus possible d'y apporter des modifications.</p><br>
    <p>Rendez-vous le <%= @project.start_date.strftime("le %d/%m/%Y à %I:%M")  %> pour le début de l'aventure !</p>
    <p>Tu retrouveras toutes les informations sur ton profil <%= link_to "en cliquant ici", user_url(@user.id) %>.</p>

    <p>À très vite ! </p>
  </body>
</html>