
<div class="row ">
	<div class="col-md-1"></div>
	<div class="col-md-6 grey-box px-3">
		<div class="form-group">
			<h6 class="mx-4 my-4 px-2 py-2">Poster un commentaire</h6>

			<%= form_tag(post_comments_path(post.id), :action => "create", :method => "post") do %>
			<div class="field mx-4  px-4">
				<%= text_area_tag :comment, nil, placeholder:'Commentaire',size: "14x2",class:'form-control smallform'%>
			</div>
			<div class="field mx-4 my-2 px-4">
				<%= submit_tag "Commenter", class: "btn btn-primary"%>
			</div>
			<% end %>
		</div>
	</div>
</div>