<div class="container bootstrap snippet my-4 shadow">
  <div class="row mt-3 mx-3 mb-0 p-4">
    <div class="col-sm-12">
    <h3 class="text-primary mt-4">Pour continuer, complétez votre profil <%=@user.first_name.capitalize %> !</h3>
    <p>Compléter votre profil est important pour que les autres utilisateurs puissent connaître les compétences que vous pouvez apporter.</p>
    <p>Indiquer au moins une compétence.</p>
    </div>
  </div>
  <hr>
  <div class="row mt-2 mb-5">
    <div class="col-md-7">
      <div class="container bootstrap snippet mt-2 mb-5 mx-4 px-5">
        <h3 class="mt-2 mb-4"><i class="fas fa-exclamation-triangle" style="margin-right: 8px; color: Tomato;"></i>Vos compétences :</h3>
        <h6>Compétence principale: </h6>
        <%= render 'users/primary_skill_form'%>
        <h6>Compétence secondaire: </h6>
        <%= render 'users/secondary_skill_form'%>
      </div>
    </div>  
    <div class="col-md-4">
    <h3 class="mt-2 mb-4">Votre photo de profil :</h3>
      <%= render 'users/edit_picture', user: @user %>
    </div>
  </div>
</div>