<div class="text-center m-4 p-3">
<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
<h6 class='my-4'>Changer votre photo :</h6>
<input type="file" class="text-center center-block file-upload">
</div>