<h1>Compléter mon profil</h1>

<p>Compétence principale : A quel métier vos compétences correspondent-elles le plus ? </p>
<%= render 'primary_skill_form'%>


<p>Compétence secondaire </p>
<%= render 'secondary_skill_form'%>