	<div class="tab-pane active px-4 pb-5" id="intro">
		<h3 class="my-4">C'est parti !</h3>
		<p>Le porteur du projet va commencer par tous vous contacter afin d'organiser un premier call pour vous pitcher son projet.</p>
		<p>Tu trouveras dans les ressources nos conseils pour réussir ce projet, nos outils favoris pour collaborer en remote, les étapes clés de la construction d'un projet...</p>
	</div><!--/tab-pane-->