
<div class="album py-5 mt-5 bg-light">
    <div class="text-center my-3">
        <h3>- Projets à venir -<h3>
    </div>
    <div class="container my-4">
        <div class="row my-4">
          <% @projects.sort_by(&:start_date).each do |project| %>
            <% if project.state == "published" %>
              <%= render 'project_card', project: project %>
            <%end %>
          <%end %>
        </div>
    </div>

    <hr class="my-5">
    <div class="text-center my-3">
      <h3>- Projets passés -<h3>
    </div>
    <div class="container my-4">
        <div class="row my-4">
          <% @projects.sort_by(&:start_date).each do |project| %>
            <% if project.state == "finished" %>
              <%= render 'project_card', project: project %>
            <%end %>
          <%end %>
        </div>
    </div>
</div>






