<div class="tab-pane" id="resources">
	<div class="container-fluid">

<div class="card no-border">
  <div class="card-body">
    <h5 class="card-title">Travailler en remote</h5>
    <h5 class="card-title">Nos conseils pour réussir le projet à distance</h5>
    <p class="card-text">La clé : communiquer ! De nombreux outils gratuits sont à disposition collaborer avec votre groupe.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-muted">Appels / Partage d'écran : Whereby, Zoom, Hangouts ...</li>
    <li class="list-group-item text-muted">Chat / Partage de fichiers : Slack</li>
    <li class="list-group-item text-muted">Travail collaboratif : Suite Google, Trello</li>
  </ul>
  <div class="card-body">
  	<%= link_to 'Podcast : travailler en remote', "https://www.welcometothejungle.com/fr/articles/how-to-work-remote", :target => "_blank", class:"card-link"%>
  	<%= link_to 'Guide de survie', "https://www.urbanlinker.com/le-webzine/guide-de-survie-du-remote-worker-185", :target => "_blank", class:"card-link"%>

  </div>
</div>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Les étapes pour réussir</h5>
    <h5 class="card-title">Comment vous organiser pour construire votre projet</h5>
    <p class="card-text">Le business plan sera la base de votre projet qui vous permettra d'élaborer votre projet. Nous vous recommandons <%= link_to 'cette ressource', "https://www.thebusinessplanshop.com/blog/fr/entry/structure_business_plan", :target => "_blank" %>qui vous servira de base pour créer votre projet.</p>
    <p class="card-text">Vous devrez livrer un pdf de ce plan, ainsi qu'une présentation PTT reprenant les points clés.</p>
  </div>
  <div class="card-body">
  	<%= link_to 'Réaliser un SWOT', "https://www.marketing-strategie.fr/2012/10/03/3409/", :target => "_blank", class:"card-link"%>


  </div>
</div>


	</div>
</div>