<div class="jumbotron" >
<div class="hero-text" id="homepage-jumbotron">
  <h1>Envie d'entreprendre?</h1>
  <br>
<br>
  <%= link_to "Get tickets", root_path, :class =>"btn btn-lg btn-primary" %>
</div>
</div> 
