
<div class="tab-content"><!--first tab pane-->
<%= render 'introduction'%>
	<div class="tab-pane " id="group">
		<p>coucou mon groupe</p>
	</div><!--/tab-pane-->

	<div class="tab-pane " id="resources"> 
		<p>coucou mes ressources</p>
	</div><!--/tab-pane-->

<%= render 'chat'%>
</div><!--/tab-content-->


