 
 <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">

          <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-right">
          <%= image_tag asset_path("photo-1533258439784-28006397342d.jpg"), width:"500", alt:"group" %>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h5 data-aos="fade-up" >POURQUOI DAZZLE YOURSELF?</h5>
            <p data-aos="fade-up" class="text-muted" class="blockquote">Tu as une idée de start-up mais il te manque les compétences pour réaliser ton projet? Dazzle Yourself va t'aider à te connecter avec des personnes talentueuses qui ont envie de créer quelque chose de nouveau. Propose ton projet sur la plateforme et trouve des experts dans la Tech et de différentes industries pour réaliser ton business plan et pour créer le Minimum Viable Product.</p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h5><i class="fab fa-connectdevelop"></i> Connecter</h5>
              <p class="text-muted">Découvre le pouvoir de travailler en équipe ! Grâce à la plateforme Dazzle Yourself tu vas pouvoir te connecter avec des experts pour réaliser ton projet.</p>
            </div>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h5><i class="fas fa-cubes"></i> Réaliser un businessplan et une MVP</h5>
              <p class="text-muted">Tu n'as pas de compétences techniques mais tu souhaites réaliser une application qui déchire ? Mets ton idée en ligne et trouve des experts techniques qui ont envie de travailler sur ton projet.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h5><i class="fas fa-user-friends"></i> Trouver des associés</h5>
              <p class="text-muted">Tu cherches des associés pour ton projet? Avec Dazzle Yourself, tu peux trouver des personnes qui ont envie de travailler sur ton projet.</p>
            </div>


            

          </div>
        </div>

      </div>