 
 <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">

          <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-right">
          <img src="https://images.unsplash.com/photo-1533258439784-28006397342d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" width="500" height="600">

          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h5 data-aos="fade-up" >POURQUOI DAZZLE YOURSELF?</h5>
            <p data-aos="fade-up" class="text-muted" class="blockquote">Tu as une idée de start-up mais il te manque des compétences pour réaliser ce projet?
            Dazzle Yourself va t'aider à te connecter avec des personnes talentueuse qui ont envie de créer quelque chose de nouveau. Créer ton projet sur la plateforme et trouve des experts dans la Tech comme des développeurs, des UX-designers ou des product managers pour créer ta MVP et tester ton idée.</p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h5 class="title"><a href="">Connect</a></h5>
              <p class="description">Découvre le pouvoir de travailler en équipe! Grâce à Dazzle Yourself tu vas pouvoir rencontrer des gens avec d'autres compétences.</p>
            </div>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h5 class="title"><a href="">2. Réaliser une MVP</a></h5>
              <p class="description">Tu n'as pas de compétences téchniques mais tu souhaites réaliser une application qui déchire? Mets ton idée en ligne et trouve des expert techniques qui ont envie de travailler sur ton projet.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h5 class="title"><a href="">3. Tester ton idée</a></h5>
              <p class="description">En très peu de tmeps tu vas pouvour travailler en équipe sur ton idée pour voir si elle est "future proof".</p>
            </div>

            

          </div>
        </div>

      </div>