<section class="page-section">
<div class="container">
<div class="card bg-dark text-white">
  <img class="card-img" src="https://images.unsplash.com/photo-1448745799564-e2c1ed534c94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt: "Card image", width: 500, height: 300>
  <div class="card-img-overlay">
    <br>
    <h1 class="card-title text-center text-primary">Ou tu as une idée de projet ? </h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="card-title text-center text-primary">C'est le moment de la tester ! </h1>
  </div>
  
</div>
</div>
</section>
