<section class="page-section text-center mt-5">
	<div class="container text-center mt-5 mb-3 shadow-lg p-3 mb-5 bg-white rounded">
		<h2 class="section-heading text-uppercase mt-5">Tu as une idée de projet ?</h2>
		<div class="my-3 mt-5"><%= image_tag "new-idea.svg", alt: "New idea image", width: 390 %></div>
		<h1 class="card-title  mt-5 text-primary">C'est le moment de la tester ! </h1>
		<%= render 'layouts/CTA_owner' %>
		<br>
	</div>

</div>
</section>
