
   <div class="hero-image">
   <div class="hero-text">
     <h1>Tu voudrais créer ta propre start-up?</h1>
     <br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/new_project_attendance">Trouve ton équipe</a>
   </div>
 </div> 


