<header class="masthead vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-12">
        <h1 class="mt-4 mb-3">PASSIONNÉ·E PAR LA <mark>TECH</mark> </h1>
        <h1 class="my-3">ET L'UNIVERS START-UP ? </h1>
        <h5 class="my-5"> Rejoins un entrepreneur et développez un <br> projet en équipe en un temps record ! </h5>
        <div><%= render 'layouts/CTA_attendee' %></div>
      </div>
    </div>
  </div>
</header> 

