<!-- Header -->
<header class="masthead">
  <div class="container ">
    
    <div class="intro-master text-uppercase text-center">PASSIONNÉ.E PAR LA <u>TECH</u> ET L'UNIVERS START-UP ?</div><br>
    <div class="intro-lead-in">Rejoins un entrepreneur et développez un projet en équipe en un temps record ! </div><br>
    <div><%= render 'layouts/CTA_attendee' %></div>
    
  </div>
</header> 