
<header class="hero-image vertical-center">
  <div class="container">
    <div class="row hero-text">
      <div class="col-7 ">
        <div class="col-12">
          <h1>TROUVE TON ÉQUIPE POUR TA <mark>START-UP</mark> !</h1>
        </div>
        <div class="col-10">
          <h5>Propose ton idée sur la plateforme, des talents te rejoindront pour la transformer en un projet concret ! </h5>
        </div>

        <div><%= render 'layouts/CTA_projectnew' %>  </div>
      </div>
    </div>
  </div>
</header> 

 