<header class="masthead vertical-center">
  <div class="container">
    <div class="row">

      <div class="col-md-7">
          <h1>PLONGE-TOI DANS L'UNIVERS <mark>START-UP</mark> !</h1>
        <h5> Rejoins un entrepreneur et développez un projet en équipe en un temps record ! </h5>
        <div><%= render 'layouts/CTA_attendee' %></div>
      </div>
    </div>
  </div>
</header> 

 