
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Tu es passionné par la Tech et l'univers Start-up?</div>
        <div class="intro-heading text-uppercase">Dazzle Yourself</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/new_project_attendance">Inscris-toi à un projet</a>
      </div>
    </div>
  </header> 