
<!-- Header -->
<header class="masthead vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1>PASSIONNÉ.E PAR LA <mark>TECH</mark> ET L'UNIVERS START-UP ?</h1><br>
        <br>
        <p>Rejoins un entrepreneur et développez un projet en équipe en un temps record ! </p><br>
        <div><%= render 'layouts/CTA_attendee' %></div>
      </div>
    </div>
  </div>

</header> 