<header class="masthead">
  <div class="container">
    <div class="intro-text">
       <div class="intro-lead-in">Tu es passionné par la Tech et l'univers Start-up?</div>
       <div class="intro-heading text-uppercase">Dazzle Yourself</div>
       <%= render 'layouts/CTA_attendee' %>
     </div>
   </div>
</header> 