<<<<<<< HEAD
<!-- Header -->
<header class="masthead">
  <div class="container ">
    
    <div class="intro-master text-uppercase text-center">PASSIONNÉ.E PAR LA <u>TECH</u> ET L'UNIVERS START-UP ?</div><br>
    <div class="intro-lead-in">Rejoins un entrepreneur et développez un projet en équipe en un temps record ! </div><br>
    <div><%= render 'layouts/CTA_attendee' %></div>
    
  </div>
</header> 
=======
<header class="masthead vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1>PASSIONNÉ.E PAR LA <mark>TECH</mark> </h1>
        <h1>ET L'UNIVERS START-UP ? </h1>
        <br>
        <p> <h5> Rejoins un entrepreneur et développez un <br> projet en équipe en un temps record ! </h5> </p><br>
        <div><%= render 'layouts/CTA_attendee' %></div>
      </div>
    </div>
  </div>
</header> 
>>>>>>> master
