<header>
  <div class="hero-image">
    <div class="hero-text">
      <div class="intro-heading text-uppercase">Je voudrais créer une start-up!</div>
      <div class="intro-lead-in">Dazzle Yourself va t'aider à réaliser ton idée.</div>
      <%= render 'layouts/CTA_projectnew' %>  
    </div>
  </div> 
</header>


