<!-- Projects Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Exemples de projets auxquels vous pouvez participer</h2>
          <h3 class="section-subheading text-muted">Choisissez vos projets selon vos préférences !</h3>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://images.unsplash.com/photo-1581094653498-74588207dcdc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
          </a>
          <div class="portfolio-caption">
            <h4> Projet dans le Virtuel </h4>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://images.unsplash.com/photo-1520717178299-4cf2701a5bc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="">
          </a>
          <div class="portfolio-caption">
            <h4> Projet dans les Médias </h4>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://images.unsplash.com/photo-1522204538344-922f76ecc041?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="">
          </a>
          <div class="portfolio-caption">
            <h4> Projet dans la Création </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <h4 class="section-heading text-uppercase">Voir plus de projets par ici !</h4>
        </div>
      </div>


    </div>
  </section>