<section class="py-5">
    <div class="container mt-5">
    <div class="section-title text-center mb-7">
    </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
            <img class="img-fluid d-block mx-auto" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fa%2Fa4%2FLogo-essec.jpg%2F1200px-Logo-essec.jpg&f=1&nofb=1" alt="pole-emploi" width="100" height="100" >
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="img-fluid d-block mx-auto" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.e-works.fr%2Fblog%2Fwp-content%2Fuploads%2F2019%2F06%2FThe_Hacking_Project_E-Works.jpg&f=1&nofb=1" alt="thp">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="img-fluid d-block mx-auto" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcharlotteagenda-charlotteagenda.netdna-ssl.com%2Fwp-content%2Fuploads%2F2017%2F03%2FWeWork-Logo_copy.jpg&f=1&nofb=1" alt="wework" width="100" height="100">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="img-fluid d-block mx-auto" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F3%2F32%2FHEC_Paris.svg%2F1200px-HEC_Paris.svg.png&f=1&nofb=1" alt="HEC" width="100" height="100">
        </div>
      </div>
    </div>
  </section>
  
