<!-- Services -->

  <section class="page-section mt-3 mb-3" id="services">
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Mets à profit tes compétences</h2>
          <h3 class="section-subheading text-muted">Grâce à un évènement unique qui permet d'expérimenter l'aventure entrepreneuriale </h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 mt-3 mb-2 px-2">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>

          <div class="px-4">
            <h4 class="service-heading">À distance</h4>
          <p class="text-muted">Que tu sois une grande ville ou dans un endroit plus isolé, tu auras l'opportunité de vivre une expérience entrepreunariale en quelques jours...de chez toi!</p>
          </div>
        </div>
        <div class="col-md-4 mt-3 mb-2 px-2">

          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-rocket fa-stack-1x fa-inverse"></i>
          </span>
          <div class="px-4">
            <h4 class="service-heading">Esprit Start-up</h4>
            <p class="text-muted">Tu as compris que le monde est en pleine transformation, et que tu as besoin de changer ta façon de travailler. Teste l'esprit Start-up avec l'expérience Dazzle Yourself !</p>
          </div>
        </div>
        <div class="col-md-4 mt-3 mb-2 px-2">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-euro-sign fa-stack-1x fa-inverse"></i>
          </span>
          <div class="px-4">
            <h4 class="service-heading">Économique</h4>
            <p class="text-muted">Un évènement inédit avec un kit en poche : une plateforme Dazzle Yourself, un réseau, un savoir-faire, un partage et un challenge. Tout ça à moindre coût !</p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
          <div class="container text-center shadow-lg p-3 bg-white rounded">
        <h4>Chaque mois, notre jury sélectionnera le projet le plus réussi.</h4>
        <p>A la clé, un mentorat de six mois par un entrepreneur à succès afin de vous aider à concrétiser votre projet.</p>
        <h6>Dazzle Yourself peut vous apporter l'opportunité d'une vie !</h6>
      </div>
      </div>
    </div>
  </section>
  
