 <section id="team" class="team section-bg text-center">
      <div class="container">

        <div class="section-title mb-5">
          <h2 data-aos="fade-up">Témoignages</h2>
          <p data-aos="fade-up" class="text-muted">Dazzle Yourself met en rélation des gens qui ont envie de créer ou tester leur start-up et des gens qui ont envie de travailler sur des projets ambitieux pour monter en compétences et pour rencontrer de nouvelles personnes.</p>
        </div>
        <br>
<center>
        <div class="row">

          <div class="col-md-4 d-flex align-items-center" data-aos="fade-up">
            <div class="member">
              <div class="member-img">
              <div class="img-fluid">
                <%= image_tag ('https://images.unsplash.com/photo-1542156822-6924d1a71ace?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'), alt: "runstart", width: 348, height: 224%>   
              </div>
              </div>
              <div class="member-info">
                <h4>David</h4>
                <span>Etudiant - école de commerce</span>
                <p> Grâce à Dazzle Yourself j'ai pu réaliser ma vision et créer ma propre business avec les nouvelles technologies. </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
            <div class="member">
              <div class="member-img">
              <div class="img-fluid">
                <%= image_tag ('https://images.unsplash.com/photo-1520813792240-56fc4a3765a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'), alt: "runstart", width: 348, height: 224%>   
              </div>
              </div>
              <div class="member-info">
                <h4>Julie</h4>
                <span>Fondatrice Glossybox</span>
                <p> Grâce à Dazzle Yourself j'ai rencontré des développeurs et des experts de l'industrie cosmétique avec lesquels j'ai pu développer une MVP pour tester mon idée. </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
          <div class="member">
            <div class="member-img">
            <div class="img-fluid">
              <%= image_tag ('https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'), alt: "runstart", width: 348, height: 224%>   
            </div>
            </div>
            <div class="member-info">
              <h4>Jean</h4>
              <span>Junior Developer</span>
              <p> J'ai enfin crée la MVP de mon produit de rêve avec d'autres dévelopers et des experts en marketing du réseau de Dazzle Yourself. </p>
            </div>
          </div>

        </div>
        </div>

      </div>
    </section>



