
      <div class="container team text-center mt-5">
        <div class="mb-5">
          <h2>Témoignages</h2>
          <p class="text-muted">Lisez comment Dazzle Yourself va t'aider à réussir dans le monde des start-ups:</p>
        </div>
        <br>
       <center>
        <div class="row">
          <div class="col-md-4 d-flex align-items-center" data-aos="fade-up">
            <div class="member">
              <div class="member-img">
              <div class="img-fluid">
                <%= image_tag asset_path('photo-1542156822-6924d1a71ace.jpg'), alt: "runstart", width: 348, height: 224%>   
              </div>
              </div>
              <div class="member-info">
                <h4>David</h4>
                <span>Etudiant - Ecole de commerce</span>
                <p> J'ai crée un projet sur Dazzle Yourself, car j'avais envie d'apprendre et de travailler avec des gens motivés sur mon projet. Grace à cette expérience j'ai pu tester en très peu de temps sans beaucoup d'argent si mon idée est future proof.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
            <div class="member">
              <div class="member-img">
              <div class="img-fluid">
                <%= image_tag asset_path('photo-1520813792240-56fc4a3765a7.jpg'), alt: "runstart", width: 348, height: 224%>   
              </div>
              </div>
              <div class="member-info">
                <h4>Julie</h4>
                <span>Fondatrice Glossybox</span>
                <p> Grâce à Dazzle Yourself j'ai rencontré des développeurs et des experts de l'industrie cosmétique avec lesquels j'ai pu développer une MVP pour tester mon idée. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
          <div class="member">
            <div class="member-img">
            <div class="img-fluid">
              <%= image_tag asset_path('photo-1489980557514-251d61e3eeb6.jpg'), alt: "runstart", width: 348, height: 224%>   
            </div>
            </div>
            <div class="member-info">
              <h4>Jean</h4>
              <span>Junior Developer</span>
              <p> En travaillant sur un projet avec la plateforme Dazzle Yourself, j'ai trouvé mon associé qui a des compétences en marketing. Ensemble nous sommes en train de lancer une start-up.</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <br><br><br><br><br>
  



