header.masthead{
	background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	height: 400px;
	margin-top: 50px;
	margin-bottom: 20px;
}


.hero-image  {
  background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}


.hero-text {
  text-align: center;
  color: white;
  top: 50%;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
  border-style: inset;
  border-width: 1px;
} 


header.masthead .intro-text {
	height: 450px;
	padding: 80px;
}

.page-section {
  padding: 10px 0;
}

.stripe-button-el span {

  background-image:none !important;
  background-color: #007bff !important;
}

.navbar{
  height: 65px;
}

.nav-link{
  margin-right: 20px;
}