
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.hero-image {
  background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.hero-text {
  text-align: center;
  color: white;
  top: 50%;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
  border-style: inset;
  border-width: 1px;
} 


header.masthead .intro-text {
	height: 450px;
	padding: 80px;
}

.page-section {
  padding: 10px 0;
}

.stripe-button-el span {

  background-image:none !important;
  background-color: #fed136 !important;
}

.navbar{
  height: 65px;
}

.nav-link{
  margin-right: 20px;
}

.headline {
  color:#fed136;
  text-align: center;
}

.price {
  font-weight: 700;
}

.grey-box {
  background-color: #ebebeb81;
  border-radius: 0.25rem;
}

.yellow-box {
  background-color: #fed136;
  border-radius: 0.25rem;
  border: 0.5px solid #fed136;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.jumbotron-user {
  padding: 2rem 1rem;
  margin-top: -10pt;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.339),rgba(0, 0, 0, 0.339)),url("https://images.unsplash.com/photo-1582397825663-06c6c2501da4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.jumbotron-user-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.avatar {
  height: 160px;
  border-radius: 50%;
}