
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
  border-style: inset;
  border-width: 1px;
} 



header.masthead .intro-text {
	height: 450px;
	padding: 80px;
}

.page-section {
  padding: 10px 0;
}

.stripe-button-el span {

  background-image:none !important;
  background-color: #007bff !important;
}
