<div class="container">
	<div class="row mt-4 mb-4">
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Projets à valider</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @projects_to_approve.length %></div>
						</div>
						<div class="col-auto">
							<i class="far fa-check-square fa-2x"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nouveaux utilisateurs</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-chart-line fa-2x"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Utilisateurs actifs</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-user-friends fa-2x"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Chiffres d'affaires</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">0€</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-euro-sign fa-2x"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>