<h3>Votre inscription au projet <%= @project.title %> est validée</h3>
<p>Votre référence de réservation est #000<% @attendance.id %>, vous retrouverez toutes les informations dans votre espace personnel.</p>