

<h2>Merci, le paiement est confirmé !</h2>
<h5>Votre référence de réservation est <strong> #<%= @charge.id[0..6] %></strong>, rendez-vous dans votre espace personnel pour retrouver toutes les informations!</h5>

