
<footer class="page-footer font-small white pt-4" >
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">FOLLOW US</h5>
        <p>Une question ? N'hésitez pas à nous contacter et à suivre nos actualités sur les réseaux !</p>
        <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Qui sommes nous</h5>

        <ul class="list-unstyled">
          <li>
        <%= link_to 'About us', root_path %>
        
          </li>
          <li>
            <%= link_to 'Contact', root_path %>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Informations</h5>

        <ul class="list-unstyled">
          <li>
            <%= link_to 'Politique de confidentialité', root_path %>
          </li>
          <li>
            <%= link_to 'Conditions générales de vente', root_path %>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <span> Dazzle Yourself (<span class="copyright">By GeekyGirlsParis</span>
      <i class="fas fa-heart"></i>)</span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
