
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">1 weekend, 1 team, 1 project!</div>
        <div class="intro-heading text-uppercase">Kickstart your idea</div>
        <%= render 'layouts/CTA_owner' %>
      </div>
    </div>
  </header>